/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; /* Ajusta la fuente según tu preferencia */
  background-color: #f4f4f9; /* Color de fondo para todo */
  padding: 0; 
  overflow-y: hidden;
  overflow-x: hidden;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.congrioContainer {
  text-align: center;
  padding: 20px;
  background-color: white; /* Color de fondo sólido */
  min-height: auto;
  height: 100vh; /* Mantiene la altura de la ventana */
  overflow-y: auto; /* Habilita el scroll solo si es necesario */
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box; /* Incluir padding en el tamaño total */
  animation: fadeIn 0.5s ease-in-out;
  width: 100vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.congrioLogo {
  max-width: 450px;
  margin-top: 50px;
  height: auto;
  margin-bottom: 20px; /* Separar el logo del encabezado */
  transition: transform 0.3s ease;
}

.congrioLogo:hover {
  transform: scale(1.05); /* Agrandar logo al pasar el ratón */
}

.congrioContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinear contenido al centro */
  width: 100%;
  max-width: 600px; /* Ajustar el ancho máximo */
  margin-top: 50px; /* Separar contenido del logo */
}

.congrioHeading {
  background-color: rgba(223, 232, 217, 0.207); /* Fondo similar al del cuadro */
  color: rgb(24, 24, 24);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 20px; /* Espaciado inferior */
  text-align: center; /* Alinear el texto al centro */
  font-size: 1.5rem; /* Aumentar el tamaño de la fuente */
  transition: background-color 0.3s ease;
}

.congrioHeading:hover {
  background-color: rgba(223, 232, 217, 0.4); /* Aumentar opacidad al pasar el ratón */
}

.congrioButtonContainer {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los botones */
  margin-bottom: 20px; /* Espaciado inferior */
}

.congrioButton {
  padding: 15px 30px; /* Hacer los botones más grandes */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1.1rem; /* Aumentar el tamaño de la fuente */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.congrioButton:hover {
  background-color: #0056b3; /* Color azul oscuro al pasar el ratón */
  transform: translateY(-2px); /* Elevar botón al pasar el ratón */
}

.congrioBackButton {
  padding: 15px 30px; /* Hacer el botón más grande */
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  font-size: 1.1rem; /* Aumentar el tamaño de la fuente */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.congrioBackButton:hover {
  background-color: #5a6268; /* Color gris oscuro al pasar el ratón */
  transform: translateY(-2px); /* Elevar botón al pasar el ratón */
}
